<div class="new-ticket">
<form action="javascript:void(0);" method="get" name="new-ticket">
        <h2>Создание заявки</h2>
        <label> Клиент
          <select name="client">
            <% for( var i = 0; i < usersList.length; i++) {%>
                <option value="<%=usersList[i]%>"><%=usersList[i]%></option>
            <% }; %>
          </select>
        </label>
        <label>Описание
          <textarea name="details" rows="5"></textarea>
        </label>
        <label> Приоритет
          <select name="priority">
            <option value="High">High</option>
            <option selected value="Medium">Medium</option>
            <option value="Low">Low</option>
          </select>
        </label>
        <label>Estimated
          <input type="text" name="estimated">
        </label>
        <div class="half-width">
          <label>deadline
            <input type="date" name="deadline">
          </label>
        </div>
        <div class="half-width">
          <label>готовность (%)
            <input type="number" name="percent" max="100" min="0" step="1" value="0">
          </label>
        </div>
        <label> Статус
          <select name="status">
            <option value="Open">Open</option>
            <option value="Closed">Closed</option>
          </select>
        </label>
        <input type="submit" value="Создать" id="addTicket">
</form> 
</div>