<div class="new-ticket">
  <div class="close">
    <img src="/image/close.png">
  </div>
<form action="javascript:void(0);" method="get" name="new-ticket">
        <h2>Создание заявки</h2>
        <label class="half-width"> Клиент<br>
          <select name="client">
            <% for( var i = 0; i < usersList.length; i++) {%>
                <option value="<%=usersList[i]%>"><%=usersList[i]%></option>
            <% }; %>
          </select>
        </label>
        <label class="half-width"> Приоритет<br>
          <select name="priority">
            <option value="High">High</option>
            <option selected value="Medium">Medium</option>
            <option value="Low">Low</option>
          </select>
        </label>
        <label class="half-width">Статус<br>
          <select name="status">
            <option value="Open">Open</option>
            <option value="Closed">Closed</option>
          </select>
        </label>
        <label>Описание<br>
          <textarea name="details" rows="5"></textarea>
        </label>
        <label class="half-width">готовность (%)<br>
          <input type="number" name="percent" max="100" min="0" step="1" value="0">
        </label>
        <label class="half-width">deadline<br>
          <input type="date" name="deadline">
        </label>
        <label class="half-width">Estimated<br>
          <input type="text" name="estimated">
        </label><br>
        <input type="submit" value="Создать" id="addTicket">
</form>
</div>
