<div class="registration-executor"> 
  <form action="javascript:void(0);" method="get" name="registration-executor">
        <h2>Регистрация исполнителя</h2>
        <label>Логин
          <input type="text" name="newExecutor" >
        </label>
        <input type="submit" id="addExecutor" value="Зарегистрировать">
  </form>
</div>