<div class="registration-executor">
  <div class="close">
    <img src="/image/close.png">
  </div>
  <form action="javascript:void(0);" method="get" name="registration-executor">
        <h2>Регистрация</h2>
        <input type="text" name="newExecutor" placeholder="Логин нового исполнителя" >
        <input type="submit" id="addExecutor" value="Зарегистрировать">
  </form>
</div>
