<div class="edit-ticket">
<form action="javascript:void(0);" method="get" name="edit-ticket">
  <h2>Изменение заявки</h2>
  <div class="half-width">
    <label> Статус <br>
      <select name="status">
        <option value="Open">Open</option>
        <option value="Closed">Closed</option>
      </select>
    </label>
  </div>
  <div class="half-width estimated">
    <label>Estimated
      <input type="text" name="estimated" value=<%=ticket.estimated %>>
    </label>
   </div>
   <div class="half-width deadline">
     <label>deadline
       <input type="date" name="deadline" value="<%=ticket.deadline %>">
     </label>
   </div>
   <div class="half-width percent">
     <label>готовность (%)
       <input type="number" name="percent" max="100" min="0" step="1" value="<%=ticket.percentReady%>">
     </label>
   </div>
   <input type="submit" value="Сохранить изменения" id="saveEdit">
</form>
</div> 
