<div class="registration">
  <form action="javascript:void(0);" method="get" name="registration">
        <h2>Регистрация</h2>
        <label>Логин
          <input type="text" name="newClient">
        </label>
        <input type="submit" id="addClient" value="Зарегистрироваться">
  </form>
</div>
 
