<div class="registration">
  <div class="close">
    <img src="/image/close.png">
  </div>
  <form action="javascript:void(0);" method="get" name="registration">
        <h2>Регистрация</h2>
        <input type="text" name="newClient" placeholder="Введите логин">
        <input type="submit" id="addClient" value="Зарегистрироваться">
  </form>
</div>
