<div class="authorization">
  <form action="javascript:void(0);" method="get" name="authorization">
    <h2>Вход</h2>
    <div class="valid">
      <input type="text" name="username" placeholder="Логин">
    </div>
    <input type="submit" id="entry" value="Войти">
    <input type="submit" id="openRegistration" value="Зарегистрироваться">
  </form>
</div>
