<div class="select-executor"> 
 <form action="javascript:void(0);" method="get" name="select-executor">
    <h2>Выбор исполнителя</h2>
    <select name="executors">
      <% for( var i = 0; i < usersList.length; i++) {%>
         <option value="<%=usersList[i]%>"><%=usersList[i]%></option>
      <% }; %>
    </select>
    <input type="submit" id="selectExecutor" value="Выбрать">
</form>
</div>