<div class="new-comment">
      <form action="javascript:void(0);" method="get" name="new-comment" >
        <h3>Добавление комментария</h3>
        <label>Комментарий
            <textarea name="comment" rows="5" placeholder="Текст сообщения"></textarea>
        </label>
        <input type="submit" value="Добавить" id="addComment">
      </form>
</div>
